"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [0, 4, 0]

[opener]
edit = [{ run = "nvim %s", desc = "Edit", for = "unix", block = true }]
pdf = [{ run = 'tdf "$@" -m 1 -f', desc = "PDF", for = "unix", block = true }]
play = [{ run = "open %s", desc = "Play", for = "macos" }]
open = [{ run = "open %s", desc = "Open", for = "macos" }]
reveal = [{ run = "open -R %s1", desc = "Reveal", for = "macos" }]
extract = [{ run = "ya pub extract --list %s", desc = "Extract here" }]

[open]
rules = [
  # Text
  { mime = "text/*", use = [
    "edit",
    "reveal",
  ] },
  # PDF
  { mime = "application/pdf", use = [
    "pdf",
    "open",
    "reveal",
  ] },
  # Image
  { mime = "image/*", use = [
    "open",
    "reveal",
  ] },
  # Media
  { mime = "{audio,video}/*", use = [
    "play",
    "reveal",
  ] },
  # Archive
  { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [
    "extract",
    "reveal",
  ] },
  # JSON
  { mime = "application/{json,ndjson}", use = [
    "edit",
    "reveal",
  ] },
  { mime = "*/javascript", use = [
    "edit",
    "reveal",
  ] },
  # Empty file
  { mime = "inode/empty", use = [
    "edit",
    "reveal",
  ] },
  # Fallback
  { url = "*", use = [
    "open",
    "reveal",
  ] },
]

